{% extends 'header.html' %}
{% block content %}	
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="background.css">
	<style>
	body, html { height: 100%;}
		.n1 {height: 100%;
		  background-position: center;
		  background-repeat: no-repeat;
		  background-size: cover;
		}
</style>
</head>
<meta charset="utf-8">
	<body background="{% static '/images/1.png' %}" class="n1">

<body>
		<title><center> Index Page</center></title>

	
	</div>
	<div class="Index Page">
		<h1>Index Page</h1>
	

		</form>
		
	</div>
</body>
</html>
{% endblock %}

